*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}
body{
    background: #f4f4f4;
    font-family: 'PT Sans', sans-serif;
    line-height: 1.6;
}
.navigation_bar{
 background-color: rgb(51, 34, 34);
 position: fixed;
 width: 100%;
}
.navigation_bar_item{
    display: flex;
    justify-content: flex-start;
    flex-wrap: wrap;
}
.navigation_bar_item .item1:hover{
    background-color: #103063;
    border: 2px solid #103063;
}
.item1{
text-decoration: none;
list-style-type: none;
padding: 8px 12px;
color: #ffff;
}
.container1{
    color: #ffff;
    background: url(./showcase.jpeg) no-repeat center;
    background-size: 100% 100%;
    width: 100%;
    text-align: center;
}
.container_heading,.container_heading1,.heading_paragraph{
    padding: 30px 20px;
    align-items: center;
}
.heading_paragraph{
    font-size: 1.3rem;
}
.container_heading{
    font-size: 3rem;
}
.container_heading1{
    font-size: 2rem; 
}
.container_heading2 img{
    width: 50px;
    margin-top: 3px;
}
.first_heading{
    font-size: 2rem;
    margin: 30px 0;
}
.span1{
    font-size: 1.3rem;
}
.btn .btn_sn{
    background-color: #103063;
    color: #f4f4f4;
    padding: 16px;
}
.container_heading2{
    padding: 20px 0px;
   
}
.second_container{
    text-align: center;
    background-color: #103063;
    color: #ffff;
}
.heading1{
    display: flex;
    justify-content: center;
    align-items: center;
}
.logo img{
    width: 80%;
    height: 100%;
margin: 20px 0;
}
.heading1,.second_heading3,.paragaraph1,.btn,.paragaraph2,.logo{
    margin: 20px;
    padding: 20px;
}
.heading2{
    font-size: 2rem;
}
.heading1{
    font-size: 2.5rem;
}
.paragraph_heading2 span{
    font-size: 1.3rem;
    line-height: 1.2;
}
.sn_btn{
    margin: 12px;
    padding: 10px;
    font-size: 2rem;
    background-color: red;
    color: #ffff;
}
.logo2 img{
    width: 100%;
    height: 100%;
}
.third_container{
    text-align: center;
}
.bg_img{
    background: url(./section-bg.jpeg) no-repeat bottom/cover;
    color: white;
    padding: 12rem 0;
}
.heading4{
    margin: 20px;
    padding: 20px;
    font-size: 2rem;
}
.span2{
    font-size: 1.3rem;
    margin: 10px 0;
    padding: 10px 50px;
}
.image{
    width: 50%;
}
.fourth_container{
    display: flex;
    justify-content: center;
    align-items: center;
  width: 100%;
    text-align: center;
    margin: 0 auto;
    padding: 0 48px;   
}